body{
    background-color: rgb(83, 86, 90);
    color: white;
}


header {
    
    color: white;
    padding: 10px 0;
    text-align: left;
    position: relative;
    margin-top: -20px;
}

.hamburger-icon {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    display: inline-block;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
}
#hamburger-icon{
    text-align: right;
    margin-top: -40px;
}
.wlc{
    text-align: center;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn1{
    padding: 12px 20px;
    color: white;
    background-color: rgb(83, 86, 90);
    border-color: #f1f1f1;
    margin-top: 40px;
    margin-left: 30%;
}
#about{
    margin-top: 100px;
}
#profile{
    margin-top: 60px;
}
.i1{
    border: 2px solid white;
    border-radius: 40%;
    height: 150px;
    width: 150px;
    margin-top: 30px;
}
.dtl{
    margin-left: 180px;
    margin-top: -100px;
}
.i4{
    display: block;
    gap: 10px;
}
#ok{
    margin-left: 20%;
    margin-top: -30px;
}
#ak{
    text-decoration: none;
    color: inherit;
}
form {
    display: flex;
    flex-direction: column;
}

label, input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}
